# Emoji Key: ✅ required | 🟢 default | ⚠️ tunable

REPORTING_BACKEND_VERSION=dev          # 🟢
CIV_SAVE_PARSER_VERSION=dev            # ✅
MONGO_URL=mongodb://localhost          # ✅ 
MONGO_DB_NAME=                         # 🟢 
MONGODB_TIMEOUT_MS=                    # ⚠️
MONGODB_MAX_POOL_SIZE=                 # ⚠️
MONGODB_MIN_POOL_SIZE=                 # ⚠️

API_HOST=                              # 🟢
API_PORT=                              # 🟢

MIN_POINTS_FOR_SUBS=                  # 🟢
ALLOWED_ORIGINS=http://localhost:      # 🟢
TEAM_GEN_TRIES=                        # 🟢
TEAM_GEN_RANDOMNESS=                   # 🟢